example_module/include/module.i
example_module/python/valkka/example_module/*.so*
example_module/python/valkka/example_module/valkka_example_module.py
example_module/python/valkka/example_module/valkka_example_module_wrap.cpp
example_module/build/
__pycache__
